@charset "utf-8";
html{
    scroll-behavior: smooth;
}
/* clearFix */
.clearFix::after{
    content:"";
    display:block;
    height:0;
    clear:both;
    overflow:hidden;
}
/* normal margin */
.area_left .m_b30{
    margin-bottom:30px;
}

/* header */
body{
    font-family: 'NanumSquare', sans-serif;
    position:relative;
}
header{
    position:fixed;
    top:0;
    left:0;
    min-width:320px;
    width:1902px;
    z-index: 999;
}
header .header_in{
    position:relative;
    top:0; left:0;
    height:90px;
    display:flex;
    justify-content: center;
    font-weight:700;
    font-size:18px;
}
.h1_logo{
    position:absolute;
    top:16%; left:7%;
    height:60px;
}
.h1_logo .h1_logo_a{
    background:url('../img/main/logo_img_color.png') no-repeat center 50%;
    width:200px; height:60px;
    display:block;
}
.h1_logo .h1_logo_a .hidden_word{
    position:absolute;
    width:1px;height:1px;
    margin:-1px;
    overflow:hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}
.main_nav{
    display:flex;
}
.nav_list{
    display:flex;
}
.nav_list li{
    display:flex;
    padding:0 40px;
}
.nav_list li a{
    display:flex;
    align-items: center;
    color:#000;
    transition: all 0.3s;
}
/* 모루겠다 ㅠㅠㅠㅠ
.header_in:hover{
    background-color: #fff;
} */
.nav_list li a:hover{
    color:#361193;
}
header .fix_wrapper{
    position:relative;
    top:0;left:0;
    width:100%;
    background-color:#fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.nav_right {
    position:absolute;
    top:0; right:10%;
    height:90px;
    display:flex;
    align-items: center;
}
.nav_right ul {
    display:flex;
}
.nav_right ul li {  
    padding:0 15px;
}
.nav_right ul li a{  
    color:#000;
    text-decoration: none;
    transition: all 0.4s;
    font-size:15px;
}
.nav_right ul li a:hover{  
    color:#361193;
    text-decoration: none;
    border-bottom:2px #361193;
}
/* iframe이 안보일경우 백그라운드로 대체 */
#main_visual .visual_display{
    position:relative;
    background:#361193 url('../img/main/main_visual_bg.jpg') no-repeat center;
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}
/* iframe */
#main_visual .visual_display iframe{
    width:1903px;
    opacity: 1;
    position:absolute;
    top:50%; left:50%;
    transform:translate(-50%, -50%);
    display: block;
}


/* 메인컨텐츠 */
.main_txtarea{
    position:relative;
    text-align:center;
    padding:0 60px;
    margin:0 auto;
}
.main_txtarea .txt_main{
    display:block;
    margin:0 auto 50px;
}
.mid_txt .txt_glow_left{
    position:absolute;
    top:-96px;
    left:-69px;
    height:200px;
    z-index:1;
    animation:blink_item1 1s linear infinite alternate-reverse;
}
.mid_txt .txt_glow_right{
    position:absolute;
    top:22px;
    right:-120px;
    transform: rotate(-16deg);
    z-index:1;
    animation:blink_item1 1s .5s infinite alternate-reverse;
}
.mid_txt .txt_1{
    position:relative;
    z-index:99;
}
.top_txt{
    position:relative;
    animation:slideUpAni 1.9s 0.7s cubic-bezier(0.26, 0.35, 0.68, 0.85) forwards}
.top_txt .mid_txt{
    margin-bottom:25px;
}
.top_txt .mid_p{
    padding-top:25px;
    color:#fff;
    font-size:26px;
    letter-spacing: 2.6px;
}
.scroll_down {
    position:absolute;
    right:60px;
    bottom:0px;
    text-align:right;
    /* font-size:0; */
}
.scroll_down .down_txt{
    font-size:18px;
    font-weight:500;
    font-family: 'Work Sans', 'NanumSquare', sans-serif;
    opacity: 0.75;
    line-height: 1.7;
    transform:rotate(90deg);
    transform-origin:90% 0;
}
.scroll_down .down_txt a{
    color:rgba(255, 255, 255, 0.75);
    text-decoration: none;

}
.scroll_down .sc_down_bar{
    position:relative;
    width:2px;
    height:60px;
    margin-right:25px;
    display:inline-flex;
    background:rgba(255, 255, 255, 0.6);
    overflow:hidden;
}
.scroll_down .sc_down_bar::after{
    content: "";
    position:absolute;
    top:0px;left:0px;
    width:2px; height:30px;
    background:#fff;
    animation: scrollAni 1.9s cubic-bezier(0.26, 0.35, 0.68, 0.85) infinite;
}
.mid_txt .img_glow_right{
    position:absolute;
    top:0;
    right:0;
}
#main_quick{
    background:#f8f8f8;
    padding: 60px 0;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow:hidden;
}
#main_quick .text{
    margin-bottom:7px;
}
#main_quick .d_day_timer .col_pup{
    color:#843af2;
}
#main_quick .border_point{
    font-weight:800;
}
#main_quick .quick_wrap{
    margin:0 auto;
    padding:0 60px;
    width:1433px;   
    display:flex;
    
}
#main_quick .quick_time{
    position:relative;
    width:331px;
    font-size:18px;
}
#main_quick .quick_time .d_day_timer{
    font-size:30px;
    font-weight:800;
}
#main_quick .timer_spin {
    position:absolute;
    top:-125px;
    left:-90px;
    transform-origin: 50% 50%;
    animation: spinMotion 50s linear infinite;
}
#main_quick .quick_linkmenu {
    width:1102px;
}
#main_quick .quick_linkmenu ul {
    display:flex;
    justify-content: space-between;
}
#main_quick .quick_linkmenu ul .list{
    position:relative;
    padding: 0 25px;
    box-sizing: border-box;
}
#main_quick .quick_linkmenu ul .list:after{
    content: "";
    display:block;
    width:1px; height:30px;
    position:absolute;
    top:50%; right:0;
    background-color:#ddd;
    transform: translateY(-50%);
}
#main_quick .quick_linkmenu ul .list:last-child:after{
    content: none
}
#main_quick .quick_linkmenu ul .list a{
    display:flex;
    align-items: center;
    font-weight:400;
    color:#000;
}
#main_quick .quick_linkmenu ul .list a .icon{
    margin-right:15px;
}
#main_contents_zoom .p_bul{
    color:#000;
    font-size:18px;
    font-weight:800;
}

/* footer */
#main_footer {
    background:#222;
    width:1433px;
    height:340px;
    padding:60px 235px;
}
footer .footer_link{
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid #555;
    padding:15px 0 40px;
    margin-bottom:40px;
}
footer select{
    background:#333;
    padding:10px 12px;
    color:#b2b2b2;
} 
footer select:focus{
    background:#333;
    padding:10px 12px;
    color:#b2b2b2;
} 
.footer_link .link_list{
    display:flex;
    align-items: center;
}
.footer_link .link_list a:nth-of-type(-n+3){
    color:#fff;
}
.footer_link .link_list a{
    color:#bbb;
    margin-right:40px;
}

footer .copyright_area{
    display:flex;
    justify-content: space-between;
}
.copyright_area .area_left{
    width:780px;
}
.area_left .h2_logo{
    margin-bottom:25px;
}
.area_left dl {
    display:block;
    float:left;
    margin-bottom:15px;
}
.area_left dl dt{
    color:#888;
    margin-right:10px;
}
.area_left dl dd{
    color:#bbb;
    margin-right:25px;
}
.area_left dl dd a{
    color:#bbb;
}
.area_left dl dt,dd {
    display:inline-block;
    font-size:14px;
}
.copyright_area dl{
    display:block;
    float:left;
}
.copyright_area .area_right{
    width:675px;
}
.copyright_area .area_right .right_box{
    margin-bottom:35px;
}
.area_right .right_box .box_h3{
    color:#eee; 
    font-size:16px;
    font-weight:700;
    margin-bottom:15px;
}
.area_right dl dt,dd,a{
    display:inline-block;
    color:#bbb;
}
.area_right .customer_dl{
    margin-right:70px;
}
.right_box .tel_center {
    margin-bottom:10px;
}
.right_box .tel_center dd {
    margin-right:50px;
}
.right_box .tel_cenbottom dd {
    margin-right:65px;
}
/* footer end */

/* 애니메이션 */
/* 크롬, 파폭, 오페라, 엣지? */
/* 페이드업 */
@-webkit-keyframes slideUpAni{
    0% {
        bottom:-50px;
        opacity:0.2;
    }

    25% {
        bottom:-40px;
        opacity:0.4;
    }

    45% {
        bottom:-25px;
        opacity:0.6;
    }
    
    65%{
        bottom:-10px;
        opacity:0.8;
    }

    100%{
        bottom:0px;
        opacity:1;
    }
}
@-moz-keyframes slideUpAni{
    0% {
        bottom:-50px;
        opacity:0.2;
    }

    25% {
        bottom:-40px;
        opacity:0.4;
    }

    45% {
        bottom:-25px;
        opacity:0.6;
    }
    
    75%{
        bottom:-10px;
        opacity:0.8;
    }

    100%{
        bottom:0px;
        opacity:1;
    }
}
@-o-keyframes slideUpAni{
    0% {
        bottom:-50px;
        opacity:0.2;
    }

    25% {
        bottom:-40px;
        opacity:0.4;
    }

    45% {
        bottom:-25px;
        opacity:0.6;
    }

    75%{
        bottom:-10px;
        opacity:0.8;
    }

    100%{
        bottom:0px;
        opacity:1;
    }
}
@keyframes slideUpAni{
    0% {
        bottom:-50px;
        opacity:0.2;
    }

    25% {
        bottom:-40px;
        opacity:0.4;
    }

    45% {
        bottom:-25px;
        opacity:0.6;
    }
    
    75%{
        bottom:-10px;
        opacity:0.8;
    }

    100%{
        bottom:0px;
        opacity:1;
    }
}
/* 스크롤 */
@-webkit-keyframes scrollAni{
    from {
        top: -20px
    }
    
    to { 
        top: 60px
    }
}
@-moz-keyframes scrollAni{
    from {
        top: -20px
    }
    
    to { 
        top: 60px
    }
}
@-o-keyframes scrollAni{
    from {
        top: -20px
    }
    
    to { 
        top: 60px
    }
}
@keyframes scrollAni{
    from {
        top: -20px
    }
    
    to { 
        top: 60px
    }
}
/* 애니메이션 */
@-webkit-keyframes blink_item1{
    0% {
        opacity: 0.2
    }

    100% {
        opacity: 1
    }
}
@-moz-keyframes blink_item1{
    0% {
        opacity: 0.2
    }

    100% {
        opacity: 1
    }
}
@-o-keyframes blink_item1{
    0% {
        opacity: 0.2
    }

    100% {
        opacity: 1
    }
}
@keyframes blink_item1{
    0% {
        opacity: 0.2
    }

    100% {
        opacity: 1
    }
}
@-webkit-keyframes spinMotion{
    0%{
        transform: rotate(360deg);
    }
}
@-moz-keyframes spinMotion{
    0%{
        transform: rotate(360deg);
    }
}
@-o-keyframes spinMotion{
    0%{
        transform: rotate(360deg);
    }
}
@keyframes spinMotion{
    0%{
        transform: rotate(360deg);
    }
}