@charset "utf-8";

/* header */
header{
    position:fixed;
    top:0;
    left:0;
    min-width:320px;
    width:1902px;
    z-index: 999;
}
header .header_in{
    position:relative;
    top:0; left:0;
    height:90px;
    display:flex;
    justify-content: center;
    font-weight:700;
    font-size:18px;
}
.h1_logo{
    position:absolute;
    top:16%; left:7%;
    height:60px;
}
.h1_logo .h1_logo_a{
    background:url('../img/main/logo_img_color.png') no-repeat center 50%;
    width:200px; height:60px;
    display:block;
}
.hidden_word{
    position:absolute;
    width:1px;height:1px;
    margin:-1px;
    overflow:hidden;
    clip-path: polygon(0 0, 0 0, 0 0);
}
.main_nav{
    display:flex;
}
.nav_list{
    display:flex;
}
.nav_list li{
    display:flex;
    justify-content: center;
    position:relative;
    width:145px;
    /* padding:0 40px; */
}
.nav_list li a{
    display:flex;
    align-items: center;
    color:#000;
    transition: all 0.3s;
}
.nav_list .sub_nav__list{
    display:none;
    position:absolute;
    z-index:999999;
    top:113px;
    left:0;
    background-color:#f6f7fc;
}
.nav_list .sub_nav__list li a{
    color:#444;
    font-size:16px;
    font-weight:400;
    height:38px;
}
.nav_list .sub_nav__list li a:hover{
    color:#361193;
}
.nav_bg{
    display:none;
    position:absolute;
    z-index:9;
    top:90px;left:0;
    background-color:#f6f7fc;
    width:100%;height:293px;
}
.nav_bg.off{
    display:none;
}

/* 모루겠다 ㅠㅠㅠㅠ
.header_in:hover{
    background-color: #fff;
} */
.nav_list li a:hover{
    color:#361193;
}
header .fix_wrapper{
    position:relative;
    top:0;left:0;
    width:100%;
    background-color:#fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.nav_right {
    position:absolute;
    top:0; right:10%;
    height:90px;
    display:flex;
    align-items: center;
}
.nav_right ul {
    display:flex;
}
.nav_right ul li {  
    padding:0 15px;
}
.nav_right ul li a{  
    color:#000;
    text-decoration: none;
    transition: all 0.4s;
    font-size:15px;
}
.nav_right ul li a:hover{  
    color:#361193;
    text-decoration: none;
    border-bottom:3px #361193;
}
/* .drop_nav{
    position: relative;
    width:1903px;
    background-color:#f6f7fc;
}
.drop_nav .sub_nav__line{
    display:flex;
    justify-content: center;
}
.sub_nav__line .sub_nav__list{
    text-align:center;
    padding-top:30px;
}
.drop_nav .sub_nav__line .blank_list{
    width:145px;
}
.sub_nav__line .sub_nav__list li{
    padding:0 25px;
    margin-bottom:10px;
}
.sub_nav__line .sub_nav__list li a{
    font-weight:400;
    color:#444;
}
.sub_nav__line .sub_nav__list li a:hover{
    color:#843af2;
} */
/* header end */

/* footer */
footer{
    background:#222;
    width:1433px;
    height:340px;
    padding:60px 235px;
}
footer .footer_link{
    display:flex;
    justify-content: space-between;
    border-bottom:1px solid #555;
    padding:15px 0 40px;
    margin-bottom:40px;
}
footer select{
    background:#333;
    padding:10px 12px;
    color:#b2b2b2;
} 
/* footer ul {
    display:flex;
}
footer ul li{
    display:flex;
} */
.footer_link .link_list{
    display:flex;
    align-items: center;
}
.footer_link .link_list a:nth-of-type(-n+3){
    color:#fff;
}
.footer_link .link_list a{
    color:#bbb;
    margin-right:40px;
}

footer .copyright_area{
    display:flex;
    justify-content: space-between;
}
.copyright_area .area_left{
    width:780px;
}
.area_left .h2_logo{
    margin-bottom:25px;
}
.area_left dl {
    display:block;
    float:left;
    margin-bottom:15px;
}
.area_left dl dt{
    color:#888;
    margin-right:10px;
}
.area_left dl dd{
    color:#bbb;
    margin-right:25px;
}
.area_left dl dd a{
    color:#bbb;
}
.area_left dl dt,dd {
    display:inline-block;
    font-size:14px;
}
.copyright_area dl{
    display:block;
    float:left;
}
.copyright_area .area_right{
    width:675px;
}
.copyright_area .area_right .right_box{
    margin-bottom:35px;
}
.area_right .right_box .box_h3{
    color:#eee; 
    font-size:16px;
    font-weight:700;
    margin-bottom:15px;
}
.copyright_area dl dt,dd,a{
    display:inline-block;
    color:#bbb;
}
.area_right .customer_dl{
    margin-right:70px;
}
.right_box .tel_center {
    margin-bottom:10px;
}
.right_box .tel_center dd {
    margin-right:50px;
}
.right_box .tel_cenbottom dd {
    margin-right:65px;
}