@charset "utf-8";

/* 공통 class, id 부분 파트 */
button{
  background-color: #843af2;;
  border: none;
  color: white;
  width: 250px; height: 60px;
  font-weight: 700;
  font-size: 18px;

  transition-property: all;
  transition-duration: 0.5s;
}
button:hover{
  background-color: #371272;
  cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}
.unit{
  color:#555;
}

.price-title{
  font-weight: 700;
  font-size: 18px;
}
.price-wrapper{
  width:386.012px; height:81px;
  margin-top: 28px;
  line-height: 1.5;
}

.price-align{
  display: flex;
  align-items: center;
}
.price-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.space{
  font-size: 27px;
  font-weight: 800;
}
.price-point{
  font-size: 27px;
  font-weight: 800;
  color: #ff0000;
}
.discount{
  color: #999;
  font-size: 15px;
  text-decoration:line-through;
  margin-right: 10px;
}
.hidden_word{
  position:absolute;
  width:1px;height:1px;
  margin:-1px;
  overflow:hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}
/* 본문시작 */
#course {
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;

  width:1447.990px;
  position:relative;
}
#free-pass-wrapper{
  width:1447.990px;  
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;
}
section .wrapper-top{
    background: url(../img/goods/classes-subtop-bg_except.jpg)no-repeat ;
    background-size: 100%;
}
.wrapper-top .main-top{
    text-align: center;
    padding-top: 200px;
    padding-bottom: 120px;
    
}
.wrapper-top .main-top p{
    font-size: 25px;
    margin-top: 25px;
}

section .main-wrapper{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  /* border: 3px solid black; */
  margin: 0 auto;
  padding-bottom: 100px;
  margin-bottom: 100px;  
}


section .bottom-wrapper{
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  /* border: 3px solid black; */
  margin: 0 auto;
  padding-bottom: 50px;
  margin-bottom: 50px;  
}

article{
  background-color: white;
  box-shadow: 0 0 15px 0 #ddd;
  flex-wrap: nowrap;
  padding: 45px 50px 50px;
  width: 616px; height: 519.312px;
  margin-bottom: 50px;
}
#article-title-first{
  display: flex;
  align-items: center;

  margin-bottom: 25px;}

#article-title-first p{
  font-size: 22px;
  font-weight: 700;
  padding-left: 20px;  
}

#article-title-first .bar{
  background-color: #843af2;
  width: 25px; height: 3px;
}
#article-title{
  display: flex;
  align-items: center;

  margin-bottom: 25px;
}

#article-title .bar{
  background-color: #843af2;
  width: 25px; height: 3px;
}
#article-title p{
  font-size: 22px;
  font-weight: 700;
  padding-left: 20px;
}

.main-wrapper{
  border-bottom: #ddd 1px solid;
}

.pointcolor{
  color: #843af2;
}
.caution{
  color: red;
}

/* 첫번째 수강신청 박스  */

#first-list{
  position: relative;
}
#first-list .top-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 26px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

#first-list .top-wrapper h2{
  font-size: 28px;
  
  font-weight: 600;
  line-height: 1.5;
}
#first-list .top-wrapper p{
  color: #5923ad;
  margin-top: 10px;
}

#first-list .inner-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#first-list .img-class{
  width: 159px; height: 159px;
  object-fit: none;
  
  margin-top: 100px;
}
#first-list .text-box{
  height:280px ; width:375px;
  line-height: 1.57;
  margin-top: 0;
  font-size: 16px;
  color: #555;
  font-weight: 400;
  padding-left: 30px;
}
#first-list .price-wrapper{
  position: absolute;
  bottom: 50px; right: 50px;
}


/* 2번째 수강신청 박스 */

#second-list{
  position: relative;
}
#second-list .top-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 26px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

#second-list .top-wrapper h2{
  font-size: 28px;
  
  font-weight: 600;
  line-height: 1.5;
}
#second-list .top-wrapper p{
  color: #5923ad;
  margin-top: 10px;
}

#second-list .inner-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#second-list .img-class{
  margin-top: 70px;
}
#second-list .text-box{
  height:280px; width:375px;
  line-height: 1.57;
  margin-top: 0;
  font-size: 16px;
  color: #555;
  font-weight: 400;
  padding-left: 15px;
}
#second-list .price-wrapper{
  position: absolute;
  bottom: 50px; right: 50px;
  margin-bottom: 50px;
}

/* 3번째 수강신청박스 */

#third-list{
  position: relative;
}
#third-list .top-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 26px;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

#third-list .top-wrapper h2{
  font-size: 28px;
  
  font-weight: 600;
  line-height: 1.5;
}
#third-list .top-wrapper p{
  color: #5923ad;
  margin-top: 10px;
}

#third-list .inner-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#third-list .img-class{
  margin-top: 80px;
}
#third-list .text-box{
  height:280px ; width:375px;
  line-height: 1.57;
  margin-top: 0;
  font-size: 16px;
  font-weight: 400;
  color: #555;
  padding-left: 15px;
}
#third-list .price-wrapper{
  position: absolute;
  bottom: 50px; right: 50px;
}

/* 4번째 수강신청박스 */

#fourth-list{
  width: 1347px; height: 380px;
  padding: 50px;
  line-height: 1.5;

}
#fourth-list .fourth-list-box{
  display: flex;
  justify-content: space-around;
}
#fourth-list .top-wrapper{
  display: flex;
  align-items: center;
}
#fourth-list .left-wrapper{
  width: 600px; height: 360.2px;
  border-right: 1px solid #ddd;
}
#fourth-list .text-box{
  padding-left: 30px;
  font-size: 16px;  
  font-weight: 400;
  color: #555;
}

.text-box h2{
  font-size: 28px;
  
  font-weight: 600;
  line-height: 1.5;
}

.text-box .examclass{
  color: #5923ad;
  margin-top: 10px;
}

#fourth-list .price-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 360px;
}

#fourth-list .price-title{
  display: flex;
}
#fourth-list .space{
  color: red;
}
#fourth-list .btn-txt-wrapper{
  margin-top: 30px;
}
#fourth-list .btn-txt-wrapper p{
  color: #843af2;
  text-align: center;
  margin-bottom: 13px;
}
#fourth-list button{
  width: 394.668px; height: 60px;
}
#fourth-list button:disabled{
  background-color: #ddd;
  color: #888;
}

/* 프리패스 올패스 신청박스 */

#free-pass-all {
  width: 613.984px; height: 460.117px;
  padding: 40px 50px;
  display: flex;
}
#free-pass-all .top-wrapper-left{
  font-size: 23px;
  line-height: 1.5;
  width: 188.233px; height: 468.301px;
}
#free-pass-all .pass-point {
  color: #843af2;
}
#free-pass-all .text-box-wrapper{
  padding-left: 50px;
  width: 375.762px; height: 468.301px;
  line-height: 1.5;
}
#free-pass-all .price-wrapper{
  width: 375.762px; height: 80.977px;
  border-top: 1px solid #ddd;
  margin-top: 15px;
  padding-top: 15px;
}
#free-pass-all button{
  background-color: black;
  color: white;
  width: 359.762px; height: 60px;
  padding: 0 8px;
  margin-top:20px;
  transition: all 0.5s;
}
#free-pass-all button:hover{
  background-color:#555;
  cursor: pointer;
}

/* 프리패스 원패스 신청박스 */

#free-pass-one{
  width: 613.984px; height: 460.117px;
  padding: 40px 50px;
  display: flex;
}

#free-pass-one .top-wrapper-left{
  font-size: 23px;
  line-height: 1.5;
  width: 188.233px; height: 468.301px;
}
#free-pass-one .pass-point {
  color: #843af2;
}
#free-pass-one .text-box-wrapper{
  width: 375.762px; height: 80.977px;
  padding-left: 50px;
  line-height: 1.5;

}
#free-pass-one .price-wrapper{
  width: 375.762px; height: 80.977px;
  border-top: 1px solid #ddd;
  margin-top: 15px;
  padding-top: 15px;
  
}
#free-pass-one button{
  background-color: black;
  color: white;
  width: 359.762px; height: 60px;
  padding: 0 8px;
  margin-top:20px;
  
  transition: all 0.5s;
}
#free-pass-one button:hover{
  background-color:#555;
  cursor: pointer;
}

/* 주의사항 */

.wrapper-attention{
  background-color: #f8f8f8;
  width: 100%;
  padding: 100px 0; 
  margin-bottom:-208px; 
}
.wrapper-attention .guide{
  font-weight: bold;
}

.wrapper-attention .attention{
  background-color: white;
  border: 1px solid #ddd;
  line-height: 2;
  padding: 50px;
  width: 1345px;
  margin: 0 auto;
}
.wrapper-attention .attention-inner{
  display: flex;
}
.wrapper-attention .inner-space{
  padding-left: 5px;
  position: relative;
}

.wrapper-attention .attention-list{
  list-style: none;
}
.wrapper-attention li{
  list-style-position: inside;
  text-indent: -14px;
}
.wrapper-attention li::before{
    content: "-";
    padding-right: 7px;

}

.wrapper-attention h4{
  display: flex;
  width: 224px;
}