@charset "utf-8";

body{   font-family: 'NanumSquare', sans-serif; 
    color: #222; margin: 50px; width: 80%; line-height: 1.6;}

.title {
    font-size: 35px; text-align: center;
}
section{
    padding: 0 ;    border: 8px solid #000;    margin: 2vw auto;    width: 80vw;    display: flex;    flex-flow: column nowrap; }
.title::before {
    content: '';
    display: block;
    position: absolute;
    margin:50px auto;
    top: 0px;
    /* left: 50px; */
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #843af2;
    opacity: 0.15;
    
}


.fir_flex, .flex_tbody, .flex_notice{
    align-items: flex-start; flex-flow: column nowrap;
}
.fir_flex >p{
     width: 30%;
}
.fir_flex >span{
     width: 50% 
}
.fir_flex >form > input{
    width: 20%; 
}

ul li{
list-style: none; float: left; text-align: center;
}


#flex_tbody ,.rp-tbody{width: 100%; display: flex; }
.w-10 { width: 10%; flex-flow: column nowrap;}
.w-15 { width: 15%; flex-flow: column nowrap;}
.w-50 { width: 50%; flex-flow: column nowrap;}
a{
    width: 100%;
    text-decoration: none;
}